<h1 class="title is-1">Maintenance Tasks</h1>

<aside class="menu">
  <ul class="menu-list">
    <% @tasks.each do |task| %>
      <li><%= link_to task, task_path(task) %></li>
    <% end %>
  </ul>
</aside>

<h2 class="title is-2">Running Tasks</h2>
<table class="table" id="running-tasks">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Progress</th>
      <th>Estimated time to completion</th>
    </tr>
  </thead>

  <tbody>
    <% @active_runs.each do |run| %>
      <tr>
        <td><%= link_to run.task_name, task_path(run.task_name) %></td>
        <td><%= formatted_datetime(run.created_at) %></td>
        <td><%= status_tag(run.status) %></td>
        <td><%= format_ticks(run) %></td>
        <td><%= estimated_time_to_completion(run) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= pagination(@pagy) %>

<h2 class="title is-2">Completed Tasks</h2>
<table class="table" id="completed-tasks">
  <thead>
    <tr>
      <th>Task name</th>
      <th>Created at</th>
      <th>Started at</th>
      <th>Status</th>
      <th>Ended at</th>
    </tr>
  </thead>
  <tbody>
    <% @latest_completed_runs.each do |run| %>
      <tr>
        <td><%= link_to run.task_name, task_path(run.task_name) %></td>
        <td><%= formatted_datetime(run.created_at)%></td>
        <td><%= formatted_datetime(run.started_at)%></td>
        <td><%= status_tag(run.status)%></td>
        <td><%= formatted_datetime(run.ended_at)%></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Showing the last <%= pluralize(@latest_completed_runs.size, 'completed task') %>.</td>
    </tr>
  </tfoot>
</table>
