<% if @available_tasks.empty? %>
  <div class="content is-large">
    <h3 class="title is-3"> The MaintenanceTasks gem has been successfully installed! </h3>
    <p>
      Any new Tasks will show up here. To start writing your first Task,
      run <code>bin/rails generate maintenance_tasks:task my_task</code>.
    </p>
  </div>
<% else %>
  <% if active_tasks = @available_tasks[:active] %>
    <turbo-frame id="active_tasks">
      <div class="is-flex">
        <h3 class="title is-3">
          Active Tasks
        </h3>
        <%= link_to "update", root_path, class: "button" %>
      </div>
      <%= render partial: 'task', collection: active_tasks %>
    </turbo-frame>
    <br>
  <% end %>
  <% if new_tasks = @available_tasks[:new] %>
    <turbo-frame id="new_tasks">
      <div class="is-flex">
        <h3 class="title is-3">
          New Tasks
        </h3>
        <%= link_to "update", root_path, class: "button" %>
      </div>
      <%= render partial: 'task', collection: new_tasks %>
    </turbo-frame>
    <br>
  <% end %>
  <% if completed_tasks = @available_tasks[:completed] %>
    <turbo-frame id="completed_tasks">
      <div class="is-flex">
        <h3 class="title is-3">
          Completed Tasks
        </h3>
        <%= link_to "update", root_path, class: "button" %>
      </div>
      <div id="completed_tasks">
        <%= render partial: 'task', collection: completed_tasks %>
      </div>
    </turbo-frame>
  <% end %>
<% end %>
