<% content_for :page_title, @task %>

<h1 class="title is-1"><%= @task %></h1>

<% if notice %>
  <div class="notification is-success"><%= notice %></div>
<% end %>

<div class="buttons">
  <% if @active_run.nil? %>
    <%= button_to 'Run', task_runs_path(@task), class: 'button is-success' %>
  <% elsif @active_run.paused? %>
    <%= button_to 'Resume', resume_task_run_path(@task, @active_run), method: :put, class: 'button is-primary' %>
  <% else %>
    <%= button_to 'Pause', pause_task_run_path(@task, @active_run), method: :put, class: 'button is-warning' %>
    <%= button_to 'Cancel', cancel_task_run_path(@task, @active_run), method: :put, class: 'button is-danger' %>
  <% end %>
</div>

<h2 class="title is-2">Runs</h2>

<table class="table is-bordered is-striped">
  <thead>
    <tr>
      <th>Created at</th>
      <th>Status</th>
      <th>Progress</th>
      <th>Error Class</th>
      <th>Error Message</th>
      <th>Backtrace</th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= l run.created_at %></td>
        <td><%= run.status %></td>
        <td><%= format_ticks(run) %></td>
        <td><%= run.error_class %></td>
        <td><%= run.error_message %></td>
        <td><%= format_backtrace(run.backtrace) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
