<% content_for :page_title, @task %>

<h1 class="title is-1">
  <%= @task %> <%= status_tag(@task.status) %>
</h1>

<%= render 'maintenance_tasks/runs/info', run: @task.last_run if @task.last_run %>

<div class="buttons">
  <%= render "maintenance_tasks/tasks/actions/#{@task.status}", task: @task %>
</div>

<% if (code = @task.code) %>
  <pre><code><%= highlight_code(code) %></code></pre>
<% end %>

<% if @previous_runs.present? %>
  <hr/>

  <h4 class="title is-4">Previous Runs</h4>

  <%= render @previous_runs %>

  <%= pagination(@pagy) %>
<% end %>
