<% content_for :page_title, @task %>

<h1 class="title is-1">
  <%= @task %>
</h1>

<div class="buttons">
  <%= form_with url: task_runs_path(@task), method: :post do |form| %>
    <% if @task.csv_task? %>
      <div class="block">
        <%= form.label :csv_file %>
        <%= form.file_field :csv_file, accept: "text/csv" %>
      </div>
    <% end %>
    <% parameter_names = @task.parameter_names %>
    <% if parameter_names.any? %>
      <div class="block">
        <%= form.fields_for :task_arguments, @task.new do |ff| %>
          <% parameter_names.each do |parameter_name| %>
            <div class="field">
              <%= ff.label parameter_name, parameter_name, class: "label is-family-monospace" %>
              <div class="control">
                <%= parameter_field(ff, parameter_name) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= render "maintenance_tasks/tasks/custom", form: form %>
    <div class="block">
      <%= form.submit 'Run', class: "button is-success", disabled: @task.deleted? %>
    </div>
  <% end %>
</div>

<% if (code = @task.code) %>
  <pre><code><%= highlight_code(code) %></code></pre>
<% end %>

<% if @task.active_runs.any? %>
  <hr/>

  <h4 class="title is-4">Active Runs</h4>

  <%= render @task.active_runs %>
<% end %>

<% if @runs_page.records.present? %>
  <hr/>

  <h4 class="title is-4">Previous Runs</h4>

  <%= render @runs_page.records %>

  <%= link_to "Next page", task_path(@task, cursor: @runs_page.next_cursor) unless @runs_page.last? %>
<% end %>
