<% content_for :page_title, @task %>

<h1 class="title is-1">
  <%= @task %> <%= status_tag(@task.status) %>
</h1>

<%= render 'maintenance_tasks/runs/info', run: @task.last_run, with_status: false if @task.last_run %>

<div class="buttons">
  <% last_run = @task.last_run %>
  <% if last_run.nil? || last_run.completed? %>
    <%= form_with url: run_task_path(@task), method: :put do |form| %>
      <% if @task.csv_task? %>
        <div class="block">
          <%= form.label :csv_file %>
          <%= form.file_field :csv_file %>
        </div>
      <% end %>
      <% if @task.parameter_names.any? %>
        <div class="block">
          <%= form.fields_for :task_arguments do |ff| %>
            <% @task.parameter_names.each do |parameter| %>
              <div class="field">
                <%= ff.label parameter, tag.var(parameter), class: "label" %>
                <div class="control">
                  <%= ff.text_area parameter, class: "textarea" %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="block">
        <%= form.submit 'Run', class: "button is-success", disabled: @task.deleted? %>
      </div>
    <% end %>
  <% elsif last_run.cancelling? %>
    <%= button_to 'Run', run_task_path(@task), method: :put, class: 'button is-success', disabled: true %>
    <% if last_run.stuck? %>
      <%= button_to 'Cancel', cancel_task_run_path(@task, last_run), method: :put, class: 'button is-danger', disabled: @task.deleted? %>
    <% end %>
  <% elsif last_run.pausing? %>
    <%= button_to 'Pausing', pause_task_run_path(@task, last_run), method: :put, class: 'button is-warning', disabled: true %>
    <%= button_to 'Cancel', cancel_task_run_path(@task, last_run), method: :put, class: 'button is-danger' %>
  <% elsif last_run.paused? %>
    <%= button_to 'Resume', run_task_path(@task), method: :put, class: 'button is-primary', disabled: @task.deleted? %>
    <%= button_to 'Cancel', cancel_task_run_path(@task, last_run), method: :put, class: 'button is-danger' %>
  <% else %>
    <%= button_to 'Pause', pause_task_run_path(@task, last_run), method: :put, class: 'button is-warning', disabled: @task.deleted? %>
    <%= button_to 'Cancel', cancel_task_run_path(@task, last_run), method: :put, class: 'button is-danger' %>
  <% end%>
</div>

<% if (code = @task.code) %>
  <pre><code><%= highlight_code(code) %></code></pre>
<% end %>

<% if @runs_page.records.present? %>
  <hr/>

  <h4 class="title is-4">Previous Runs</h4>

  <%= render @runs_page.records %>

  <%= link_to "Next page", task_path(@task, cursor: @runs_page.next_cursor) unless @runs_page.last? %>
<% end %>
