<p id="notice"><%= notice %></p>

<h1>Maintenance Tasks</h1>

<table>
  <caption>Enqueue Task</caption>

  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task %></td>
        <td>
          <%= button_to 'Run', runs_path, params: { run: { task_name: task.name } }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <caption>Maintenance Task Runs</caption>

  <thead>
    <tr>
      <th>Task Name</th>
      <th>Created at</th>
      <th>Status</th>
      <th>Error Class</th>
      <th>Error Message</th>
      <th>Backtrace</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @runs.each do |run| %>
      <tr>
        <td><%= run.task_name %></td>
        <td><%= l run.created_at %></td>
        <td><%= run.status %></td>
        <td><%= run.error_class %></td>
        <td><%= run.error_message %></td>
        <td><%= format_backtrace(run.backtrace) %></td>
        <td>
          <%= button_to 'Pause', pause_run_path(run), method: :put if run.enqueued? || run.running? %>
          <%= button_to 'Resume', resume_run_path(run), method: :put if run.paused? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
