<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <% if content_for?(:page_title) %>
        <%= content_for :page_title %> -
      <% end %>

      Maintenance Tasks
    </title>

    <%= csrf_meta_tags %>

    <%= javascript_include_tag "maintenance_tasks", integrity: true %>
    <%= stylesheet_link_tag "maintenance_tasks", integrity: true %>
  </head>

  <body>
    <%= render 'layouts/maintenance_tasks/navbar' %>

    <section class="section">
      <div class="container">
        <% if notice %>
          <div class="notification is-success"><%= notice %></div>
        <% elsif alert %>
          <div class="notification is-warning"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
