<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>
      <% if content_for?(:page_title) %>
        <%= content_for :page_title %> -
      <% end %>

      Maintenance Tasks
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=
      stylesheet_link_tag URI.join(controller.class::BULMA_CDN, 'npm/bulma@0.9.1/css/bulma.css'),
        media: :all,
        integrity: 'sha256-67AR2JVjhMZCLVxapLuBSMap5RrXbksv4vlllenHBSE=',
        crossorigin: 'anonymous'
    %>

    <% if defined?(@refresh) %>
      <meta http-equiv="refresh" content="<%= @refresh %>">
    <% end %>
  </head>

  <body>
    <%= render 'layouts/maintenance_tasks/navbar' %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
