<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <% if content_for?(:page_title) %>
        <%= content_for :page_title %> -
      <% end %>

      Maintenance Tasks
    </title>

    <%= csrf_meta_tags %>

    <%=
      stylesheet_link_tag(URI.join(controller.class::BULMA_CDN, 'npm/bulma@0.9.4/css/bulma.css'),
        media: :all,
        integrity: 'sha384-qQlNh1kc0FyhUqUDXKkl5wpiiSm8PXQw2ZWhAVfU46tmdMDfq2vXG2CXWYT+Dls3',
        crossorigin: 'anonymous') unless request.xhr?
    %>

    <style>
      .ruby-comment { color: #6a737d;}
      .ruby-const { color: #e36209; }
      .ruby-embexpr-beg, .ruby-embexpr-end, .ruby-period { color: #24292e; }
      .ruby-ident, .ruby-symbeg { color: #6f42c1; }
      .ruby-ivar, .ruby-cvar, .ruby-gvar, .ruby-int, .ruby-imaginary, .ruby-float, .ruby-rational { color: #005cc5; }
      .ruby-kw { color: #d73a49; }
      .ruby-label, .ruby-tstring-beg, .ruby-tstring-content, .ruby-tstring-end { color: #032f62; }
    </style>

    <script>
      function refresh() {
        if (!("refresh" in document.body.dataset)) return
        window.setTimeout(() => {
          document.body.style.cursor = "wait"
          fetch(document.location, { headers: { "X-Requested-With": "XMLHttpRequest" } }).then(
            async response => {
              const text = await response.text()
              const newDocument = new DOMParser().parseFromString(text, "text/html")
              document.body.replaceWith(newDocument.body)
              <%# force a redraw for Safari %>
              window.scrollTo({ top: document.documentElement.scrollTop + 1 })
              window.scrollTo({ top: document.documentElement.scrollTop - 1 })
              refresh()
            },
            error => location.reload()
          )
        }, 3000)
      }
      document.addEventListener('DOMContentLoaded', refresh)
    </script>
  </head>

  <%= tag.body(data: { refresh: defined?(@refresh) && @refresh }) do %>
    <%= render 'layouts/maintenance_tasks/navbar' %>

    <section class="section">
      <div class="container">
        <% if notice %>
          <div class="notification is-success"><%= notice %></div>
        <% elsif alert %>
          <div class="notification is-warning"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  <% end %>
</html>
