<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>Maintenance Tasks</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'maintenance_tasks/application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
