<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      <% if content_for?(:page_title) %>
        <%= content_for :page_title %> -
      <% end %>

      Maintenance Tasks
    </title>

    <%= csrf_meta_tags %>

    <%=
      stylesheet_link_tag URI.join(controller.class::BULMA_CDN, 'npm/bulma@0.9.3/css/bulma.css'),
        media: :all,
        integrity: 'sha384-Zkr9rpl37lclZu6AwYQZZm0CxiMqLZFiibodW+UXLnAWPBr6qgIzPpcmHkpwnyWD',
        crossorigin: 'anonymous'
    %>

    <style nonce="<%= content_security_policy_nonce %>">
      .ruby-comment { color: #6a737d;}
      .ruby-const { color: #e36209; }
      .ruby-embexpr-beg, .ruby-embexpr-end, .ruby-period { color: #24292e; }
      .ruby-ident, .ruby-symbeg { color: #6f42c1; }
      .ruby-ivar, .ruby-cvar, .ruby-gvar, .ruby-int, .ruby-imaginary, .ruby-float, .ruby-rational { color: #005cc5; }
      .ruby-kw { color: #d73a49; }
      .ruby-label, .ruby-tstring-beg, .ruby-tstring-content, .ruby-tstring-end { color: #032f62; }
    </style>

    <% if defined?(@refresh) %>
      <meta http-equiv="refresh" content="<%= @refresh %>">
    <% end %>
  </head>

  <body>
    <%= render 'layouts/maintenance_tasks/navbar' %>

    <section class="section">
      <div class="container">
        <% if notice %>
          <div class="notification is-success"><%= notice %></div>
        <% elsif alert %>
          <div class="notification is-warning"><%= alert %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
